/* Center the table on the page */
.table-container {
  width: 98%; /* or any value that suits your design */
  margin: 0 auto; /* This will center the table horizontally */
  overflow-x: auto; /* Ensures the table is scrollable if it overflows */
  padding: 20px 0; /* Adds some spacing around the table */
}

/* General table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Table header */
table thead tr {
  background-color: #009f77;
  color: #ffffff;
  text-align: left;
  font-weight: 600;
}

table th,
table td {
  padding: 15px 20px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Table rows */
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Button styling */
.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px;
}

.btn-primary {
  background-color: #2b6777;
}

.btn-primary:hover {
  background-color: #1d4f5b;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
}
.btn-warning {
  background-color: #ffc107; /* Yellow for Forward */
  color: white;
}
.btn-warning:hover {
  background-color: #ffb300;
}
/* Search bar styling */
.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-bar {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.3s ease;
}

.search-bar:focus {
  border-color: #2b6777;
}
