<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Post</title>
  <link rel="stylesheet" href="../../../assets/css/create_post.css">
</head>
<body>
  <div class="create-whole-container">
    <!-- Header Section -->
    <div class="header">
      <div class="header-left">
        <img src="../../../assets/images/STRESS.png" alt="Header Image" class="header-image">
      </div>
      <div class="header-right">
        <h1>Create Your Post</h1>
        <hr>
      </div>
    </div>
    

    <div class="create-post-container">
      <!-- Profile Section -->
      <div class="profile-section">
        <img src="../../../assets/images/Account.png" alt="Profile" class="profile-img">
        <button class="username-btn">
          <i class="icon user-icon"></i>
          Username
        </button>
        <button class="icon-btn">
          <img src="../../../assets/images/Edit.png" alt="Edit" class="btn-image">
        </button>
        <button class="icon-btn">
          <img src="../../../assets/images/Delete.png" alt="Delete" class="btn-image">
        </button>
      </div>

      <br>
    
      <!-- Add Title -->
      <input type="text" class="title-input" placeholder="Add Title">
    
      <!-- Image Upload Section -->
      <div class="image-upload">
        <div class="upload-box">
          <i class="icon upload-icon"></i>
          <img src="../../../assets/images/Add Image.png" alt="Add-image" class="btn-image2">
          <input type="file" id="upload-input" class="upload-input"/>
        </div>
      </div>
    
      <!-- Description -->
      <textarea class="description-input" placeholder="Add Description"></textarea>
    
      <!-- Add Post Button -->
      <button class="add-post-btn">Add Post</button>
    </div>
    
</body>
</html>
